@font-face {
  font-family: GothamPro;
  src: url(../dist/font/GothamPro.woff2);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: GothamPro;
  position: relative;
  background-color: #f4f4f4;
}

.header {
  width: 100%;
  display: inline-flex;
  height: 100px;
}
.header__inner {
  margin: 0 5% 0 5%;
  width: 100%;
  height: 100%;
  display: inline-flex;
  position: relative;
}

.logo {
  width: 56px;
  height: 100%;
  position: relative;
}
.logo__site {
  width: auto;
  height: auto;
  position: absolute;
  top: 56px;
}

.menu {
  width: 30%;
  height: 100%;
}
.menu ul {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  margin: 70px 0 0 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.menu ul li {
  list-style: none;
  width: 20%;
  margin: 0;
  text-align: inherit;
}
.menu__left {
  height: auto;
  position: absolute;
  right: 0;
  display: inline-flex;
  margin-top: 70px;
}
.menu__left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  margin-top: -10px;
}
.menu__left p {
  font-size: 14px;
  margin: 0 30px 0 0;
}
.menu__left i {
  margin: 0 10px;
}

.orange {
  color: #f26c4f;
}

.devider {
  width: 1px;
  height: 30px;
  margin: 65px 40px 0px 41px;
  background-color: #cccccc;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
.page__content {
  margin: 0 5%;
  width: 100%;
  max-width: 90%;
}

.product {
  width: 100%;
  height: auto;
  display: inline-flex;
}
.product__focus {
  width: 100%;
  display: inline-flex;
}
.product__focus__img {
  margin: 10% 0 0 0;
  display: inline-flex;
  width: 50%;
  height: 280px;
}
.product__focus__img img {
  margin-left: auto;
}
.product__focus__details {
  width: 20%;
  padding-left: 190px;
  margin-top: 4%;
}
.product__name {
  font-family: GothamPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
}
.product__list {
  padding: 14.5px 5px;
  background-color: white;
  border-radius: 4px;
}
.product__view {
  width: 25%;
  height: auto;
  margin-top: 213px;
}
.product__view img {
  opacity: 0.5;
}
.product__details {
  width: 50%;
  height: auto;
  margin-top: 113px;
  display: inline-flex;
}
.product__details__img {
  width: auto;
  height: auto;
}
.product__details__info {
  width: 60%;
  height: auto;
  margin-top: 100px;
  margin-left: 50px;
}
.product__details__info--phoenix {
  color: #f36d4f;
  font-family: GothamPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
}
.product__details__info p {
  font-family: GothamPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #3f3f3f;
  margin: 19px 0 0 0;
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
}
.container .rounded, .container .rounded--customize {
  border-radius: 4px;
  border: solid 1px;
  padding: 9px 30px 9px 30px;
}
.container .rounded--customize {
  padding: 13px 70px;
}
.container i {
  margin-left: 5px;
  height: auto;
}
.container .star {
  color: #f36d4f;
}
.container .first {
  margin-left: 94px;
}
.container .title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  margin: 27px 0 0 0;
}
.container .price {
  width: 30%;
}
.container .flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.container .cart {
  font-size: 30px;
  margin-top: 20px;
}
.container .share {
  border-radius: 4px;
  background-color: white;
  padding: 6px;
  margin-left: 20px;
  margin-top: 23px;
}

#backicon {
  margin: 80px 0 0 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.footer {
  margin: 0;
  padding: 0;
}
.footer__inner {
  width: 100%;
  max-width: 90%;
  margin: 5% 5%;
  display: inline-flex;
  position: relative;
}
.footer span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #686868;
}
.footer p {
  color: #a1a1a1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
}

.filter {
  background-color: #f34d4f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: none;
}

.menuicon {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: none;
}

.comment {
  background-color: #3f3f3f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: none;
}

#company {
  margin-left: 20px;
}

#page {
  margin-left: 43%;
}

#comment {
  margin-left: auto;
}

.square {
  width: 13px;
  height: 13px;
  border: solid 2px #f36d4f;
  border-radius: 2px;
  position: absolute;
}

.pos1 {
  top: 9px;
  left: 9px;
  z-index: 1;
}

.pos2 {
  top: 15px;
  left: 15px;
  z-index: 0;
}

.background {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 100px;
  color: #a1a1a1;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  font-family: Roboto;
  font-size: 360px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  line-height: 0.7;
  margin-top: 100px;
  font-stretch: expanded;
}

.color-orange {
  color: #f36d4f;
}

.background-orange {
  background-color: #f36d4f;
}

.color-white {
  color: #ffffff;
}

.background-white {
  background-color: #ffffff;
}

.color-black {
  color: #383838;
}

.background-black {
  background-color: #383838;
}

.clearbottom {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.color-gray {
  color: #959595;
}

.background-gray {
  background-color: #959595;
}

.color-grey {
  color: #c2c2c2;
}

.font-size14 {
  font-size: 14px;
}

.font-size20 {
  font-size: 20px;
}

.font-size30 {
  font-size: 30px;
}

.margin-left20 {
  margin-left: 20px;
}

.marginnone {
  margin: 0;
}

.margin-left15 {
  margin-left: 15px;
}

.margin-10 {
  margin: 10px;
}

.padding-5 {
  padding: 5px;
}

.border-radius4 {
  border-radius: 4px;
}

.underline {
  text-decoration: underline;
}

.autoalign {
  justify-content: space-between;
}

.height100 {
  height: 100px;
}

.height-80vh {
  height: 80vh;
}

.center {
  align-items: center;
}

.under {
  width: 100%;
  max-width: 40%;
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
